* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;

}

:root {
    --bg-color: #011224;
    --second-bg-color: #010d1b;
    --text-color: #fff;
    --main-color: #52d9f4 ;
}

/* #fb4513 */
html {
    font-size: 60%;
    overflow-x: hidden;
    color: var(--text-color);
}

body {
    background-color: var(--bg-color);

}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

}

.logo {
    font-weight: 800;
    color: var(--text-color);
    font-size: 3rem;
    cursor: pointer;
    transition: .3s ease;
}

.logo:hover {

    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a {

    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: .3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    text-shadow: 0 0 50px var(--main-color);
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu {


    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section {

    min-height: 100vh;
    padding: 10rem 12% 10rem;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

span {
    color: var(--main-color);
}

.home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;

}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;

}

.home-imge {
    border-radius: 50%;
}

.home-imge img {
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.home-imge img:hover {
    filter: brightness(1.15);
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);
}




.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.social-icons a {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);

}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {

    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;

}


::selection {
    color: var(--bg-color);
    background-color: var(--main-color);

}









.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "";
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;


}

@keyframes cursor {

    to {
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {

    0%,
    100% {
        content: "COMPUTER ENGINEER";
    }

    21%,
    40% {
        content: "CONTENT CREATOR";
    }

    41%,
    60% {
        content: "Tech Enthusiast";
    }

    61%,
    80% {
        content: "Generative AI OP";
    }

    81%,
    100% {
        content: "AI Learner";
    }


}


@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }




}

.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

.education {

    padding: 100px 15px;
    background: linear-gradient(180deg, var(--bg-color) 10%, var(--second-bg-color) 50%);


}

.education h2 {
    margin-bottom: 5rem;
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;

}

.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50%);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;

}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;

}



.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);

}

.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {

    font-size: 20px;
    font-weight: 800;
    color: #ffff;
    margin: 6px 0 15px;

}

.timeline-content {
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    transition: .3s ease-in-out;
    cursor: pointer;

}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);

}

.timeline-content h3 {
    font-size: 20px;
    color: #fff;
    margin: 0 0 10px;
    font-weight: 500;

}

.timeline-content p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;

}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 50px;
}

.services {
    background: linear-gradient(180deg, var(--second-bg-color) 10%, var(--bg-color) 50%);
    color: #000;
}

.services h2 {
    margin-bottom: 5rem;
    color: #fff;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    align-items: center;
    gap: 2.5rem;

}

.services-box {

    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.services-box:hover {
    background-color: #fff;
    transform: scale(1.03);
    border: 5px solid var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    color: #000;
}

.services-box .services-info {

    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem;
}

.services-info {
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
}

.services-info p {
    font-size: 1.6rem;
    font-weight: 600;
    max-height: 1.7;
    margin: auto;
}





/*      -------------------------------------------- */


.project {
    background: linear-gradient(180deg, var(--bg-color) 10%, var(--second-bg-color) 50%);
}


.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    height: 680px;
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    color: #fff;
    box-shadow: 0 0 20px var(--main-color);
    gap: 10px;
    padding: 20px;
    margin: 20px;
    border-radius: 40px;
    transition: .4s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 25px var(--main-color), 0 0 30px var(--main-color);
    transform: scale(1.1);

}

.Project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;

}

.project-img img {
    margin-top: 20px;
    display: block;
    width: 350px;
    height: 350px;
    border-radius: 25px;
    transition: .3s ease-in-out;
    filter: grayscale(100%);
}

.card:hover .project-img img {
    box-shadow: 0 0 20px var(--main-color);
    filter: grayscale(0%);

}

.card:hover .Project-info h3 {
    color: var(--main-color);
}

.Project-info p {
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 1.7;
    margin: auto;
}


.Project-info h3 {

    padding: 10px 0;
    font-size: 28px;
    font-weight: 900;
    padding: 20px 0;
    transition: .3s ease-in-out;
}

.more-details {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--main-color);
    margin: 25px 0;

    width: 200px;
    height: 50px;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 56px;
    transition: 0.3s ease-in-out;

}

.more-details:hover {

    transform: scale(1.07);
    background-color: var(--main-color);
    color: #000;
    box-shadow: 0 0 25px var(--main-color);
}

.footer-contaner {

    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, var(--second-bg-color) 20%, var(--bg-color) 90%);

}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav a {
    font-size: 1.8rem;
    color: var(--text-color);
    font-size: 20px;
    margin-left: 4rem;
    font-weight: 500;
    transition: .3s ease;
    border-bottom: 3px solid transparent;
}

.footer-nav a:hover {
    text-shadow: 0 0 50px var(--main-color);
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

footer {
    position: relative;
}

footer h3 {
    position: absolute;
    left: 34px;
    bottom: 24%;
    font-size: 30px;
    font-weight: 600;

}

footer h3 span {
    text-shadow: 0 0 50px var(--main-color);
}

.MYSUPPORTERS {
    position: relative;
    background: linear-gradient(180deg, var(--second-bg-color) 10%, var(--bg-color) 50%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.MYSUPPORTERS-img img {
    position: relative;
    top: 3rem;
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px rgb(99, 2, 134);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.MYSUPPORTERS-img {
    margin: 80px 0;

}

.MYSUPPORTERS-img img:hover {
    filter: brightness(1.15);
    box-shadow: 0 0 25px rgb(99, 2, 134),
        0 0 50px rgb(99, 2, 134),
        0 0 100px rgb(99, 2, 134);

}

.MYSUPPORTERS-info {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    background-color: var(--bg-color);
    border: 3px solid rgb(99, 2, 134);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px rgb(99, 2, 134);
    transition: .3s ease-in-out;
    cursor: pointer;
    margin-bottom: 150px;
    width: 50vw;

}

.MYSUPPORTERS-info span {
    text-transform: capitalize;
    color: rgb(165, 3, 224);

}


.MYSUPPORTERS-info:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgb(99, 2, 134);
}


.MYSUPPORTERS h1 {

    display: block;
    width: 200px;
    text-align: center;
    height: 50px;
    padding-top: 5px;
    color: var(--text-color);
    font-size: 30px;
    font-weight: 500;
    border: 1px solid rgb(99, 2, 134);
    box-shadow: 0 0 10px rgb(99, 2, 134);
    background-color: var(--bg-color);
    cursor: pointer;
    margin-top: -110px;
    transition: .3s ease-in-out;
    border-radius: 25px;
}

.MYSUPPORTERS h1:hover+.social-icons a {
    color: var(--text-color);
    transform: scale(1.3) translateY(15px);
    box-shadow: 0 0 25px rgb(99, 2, 134);
    background-color: rgb(99, 2, 134);
    margin-left: 50px;
}

.MYSUPPORTERS h1:hover {
    padding-top: 12px;
    background-color: rgb(99, 2, 134);
    color: var(--text-color);
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 0 25px rgb(99, 2, 134);
    transform: scale(1.01);
}

.pro-ch:checked {
    text-shadow: 0 0 50px var(--main-color);
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);

}

.contact {
    background: linear-gradient(180deg, var(--bg-color) 10%, var(--second-bg-color) 50%);
    min-width: 100%;
    min-height: 100vh;
}

.contact .card {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact .cards {
    padding: 200px 0;


}

.contact .card .contact-icon {

    margin-top: -60px;
    transition: .3s ease-in-out;
    font-size: 184px;
    color: var(--main-color);

}

.contact .card .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.contact .card .contact-info h3 {
    transition: .3s ease-in-out;
}


.contact .card .contact-info h3 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 50px;
    color: var(--main-color);
}

.contact .card .contact-info p {
    font-size: 20px;
    font-weight: 800;
    transition: .3s ease-in-out;
}

.contact .card:hover .contact-info h3 {
    color: var(--text-color);
}

.contact .card:hover .contact-info p {
    color: var(--main-color);
}

.contact .card:hover .contact-icon {
    color: var(--text-color);
}